ul {
  list-style: none;
  margin: 0;
  padding-top: 40px;
}

.comment {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 3px 3px 10px #999;
  margin-bottom: 10px;
}

.comment span {
  display: block;
  text-align: right;
  color: #666;
  font-style: italic;
}
