<h2>Comments of saucer: {{saucer.name}}</h2>
<a routerLink="/restaurants/{{restaurantId}}/saucers">Back to saucers</a>


<ul>
  <li class="" *ngFor="let comment of comments">
    <h3>{{comment.createdBy}}</h3>
    <p>{{comment.comment}}</p>
    <span>{{comment.date}}</span>
  </li>
</ul>

<div>
  <h3>New comment</h3>
  <div class="alert alert-success" role="alert" *ngIf="commentSuccess">Comment saved</div>
  <div class="alert alert-danger" role="alert" *ngIf="commentError">Comment fail</div>

  <form (ngSubmit)="sendComment()">
    <input type="text" name="author" [(ngModel)]="data.createdBy">
    <textarea name="comment" [(ngModel)]="data.comment"></textarea>
    <button class="btn btn-primary">Send comment</button>
  </form>
</div>
